<%-include('header')%>
       <!-- Form Start -->
       <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Update Type</h6>
                    <form method="post" action="/admin/type/editTypeData">
                        <input type="hidden" name="EditId" value="<%=TypeData.id%>">
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Category</label>
                            <select name="category" id="catId" class="col-sm-9 form-select" onchange="return getSubCategoryData()" aria-label="Default select example">
                                <option>- - Select Category - -</option>
                                <%CatData.map((v,i)=>{%>
                                    <option value="<%=v.id%>" <%if(v.id==TypeData.category){%> <%='selected'%> <%}%>><%=v.category%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Sub Category</label>
                            <select name="subcategory" id="subcatId" class="col-sm-9 form-select" onchange="return getExCategoryData()" aria-label="Default select example">
                                <option>- - Select Sub-Category - -</option>
                                <%SubcatData.map((v,i)=>{%>
                                    <option value="<%=v.id%>" <%if(v.id==TypeData.subcategory){%> <%='selected'%> <%}%>><%=v.subcategory%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Extra Category</label>
                            <select name="extracategory" id="excatId" class="col-sm-9 form-select" onchange="return getBrandData()" aria-label="Default select example">
                                <option>- - Select Extra-Category - -</option>
                                <%ExcatData.map((v,i)=>{%>
                                    <option value="<%=v.id%>" <%if(v.id==TypeData.extracategory){%> <%='selected'%> <%}%>><%=v.extracategory%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Brand</label>
                            <select name="brand" id="brandId" class="col-sm-9 form-select" aria-label="Default select example">
                                <option>- - Select Brand - -</option>
                                <%BrData.map((v,i)=>{%>
                                    <option value="<%=v.id%>" <%if(v.id==TypeData.brand){%> <%='selected'%> <%}%>><%=v.brand%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Type</label>
                            <div class="col-sm-9">
                                <input type="text" name="type" value="<%=TypeData.type%>" class="form-control" id="inputEmail3" placeholder="Enter Type">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->
<%-include('footer')%>