<%-include('header')%>
       <!-- Form Start -->
       <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Update Sub-Category</h6>
                    <form method="post" action="/admin/subcategory/editSubcategoryData">
                        <input type="hidden" name="EditId" value="<%=SubcategoryData.id%>">
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Category</label>
                            <select name="category" class="col-sm-9 form-select" aria-label="Default select example">
                                <option>- - Select Category - -</option>
                                <%CatData.map((v,i)=>{%>
                                    <option value="<%=v.id%>" <%if(v.id==SubcategoryData.category){%> <%='selected'%> <%}%>><%=v.category%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Sub Category</label>
                            <div class="col-sm-9">
                                <input type="text" name="subcategory" value="<%=SubcategoryData.subcategory%>" class="form-control" id="inputEmail3" placeholder="Enter Sub-Category">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->
<%-include('footer')%>