<%-include('header')%>
     <!-- Table Start -->
     <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">View Admin</h6>
                    <form class="d-flex">
                        <input value="<%=searchInput%>" style="width: 20% !important; margin-right: 5px;" name="search" class="form-control bg-dark border-0" type="text" placeholder="Search">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr align="center">
                                    <th scope="col">No.</th>
                                    <th scope="col">USER NAME</th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">CITY</th>
                                    <th scope="col">GENDER</th>
                                    <th scope="col">HOBBY</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">IMAGE</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(AdminData!=""){%>
                                <%var i = 0;%>
                                <%for(var v of AdminData){%>
                                    <tr align="center">
                                        <th scope="row"><%=i=i+1%></th>
                                        <td><%=v.name%></td>
                                        <td><%=v.email%></td>
                                        <%if(v.city){%>
                                            <td><%=v.city%></td>
                                        <%}else if(v.city=='- - Select City - -'){%>
                                            <td style="color: red;">not define</td>
                                        <%}else{%>
                                            <td style="color: red;">not define</td>
                                        <%}%>
                                        <%if(v.gender){%>
                                            <td><%=v.gender%></td>
                                        <%}else{%>
                                            <td style="color: red;">not define</td>
                                        <%}%>
                                        <%if(v.hobby==''){%>
                                            <td style="color: red;">not define</td>
                                        <%}else{%>
                                                <td><%=v.hobby%></td>
                                        <%}%>
                                        <%if(v.description){%>
                                            <td><%=v.description%></td>
                                        <%}else{%>
                                            <td style="color: red;">not define</td>
                                        <%}%>
                                        <%if(!v.adminImage){%>
                                            <td><img src="/img/user1.jpg" style="width: 80px; height: 100px;"></td>
                                        <%}else{%>
                                            <td><img src="<%=v.adminImage%>" style="width: 80px; height: 100px;"></td>
                                        <%}%>
                                        <td>
                                            <%if(v.isActive){%>
                                                <a href="/admin/isactive/<%=v.id%>" class="btn btn-success">Active</a>
                                            <%}else{%>
                                                <a href="/admin/deactive/<%=v.id%>" class="btn btn-danger">Deactive</a>
                                            <%}%>
                                        </td>
                                        <td>
                                            <a href="/admin/delete/<%=v.id%>" title="Delete" class="dubtn btn">
                                                <i class="ri-close-fill"></i>
                                            </a>
                                            <a href="/admin/update/<%=v.id%>" title="Update" class="dubtn btn">
                                                <i class="ri-pencil-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <%}}else{%>
                                    <tr>
                                        <td colspan="10" align="center">No Record Found</td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                        <table style="width: 100%;">
                            <tr align="center">
                                <td>
                                    <%for(var i=0; i<totalDocument; i=i+1){%>
                                        <a href="?page=<%=i%>&searchInput=<%=searchInput%>" class="dubtn btn"><%=i+1%></a>
                                    <%}%>
                                </td>
                            </tr>
                            <tr align="center" >
                                <td>
                                    <%var pre = parseInt(curentPage)-1%>
                                    <%if(pre>=0){%>
                                        <a href="?page=<%=pre%>" class="btn btn-primary">Pre</a>
                                    <%}%>
                                    <a href="?page=<%=page%>&searchInput=<%=searchInput%>" class="dubtn btn"><%=parseInt(page)+1%></a>
                                    <%var nextpage = parseInt(curentPage)+1%>
                                    <% if(totalDocument>nextpage){%>
                                        <a href="?page=<%=nextpage%>" class="btn btn-primary">Next</a>
                                    <%}%>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->

<%-include('footer')%>