<%-include('user_header')%>


    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
            
                <div class="col-sm-12 table-responsive-xs">
                    <table class="table cart-table">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">action</th>
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <%for(var c of view_cart){%>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col">
                                            <h2 class="td-color"><a href="/removeProduct/<%=c.id%>" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#"><img src="<%=c.productId.single_image%>" alt=""></a>
                                    </td>
                                    <td><a href="#"><%=c.productId.product%></a>
                                        <div class="mobile-cart-content row">
                                            <div class="col">
                                                <div class="qty-box">
                                                    <div class="input-group">
                                                        <input type="text" name="quantity" class="form-control input-number"
                                                            value="<%=c.quantity%>">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h2 class="td-color">₹<%=c.productId.price%></h2>
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td>
                                        <h2>₹<%=c.productId.price%></h2>
                                    </td>
                                    <td>
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="number" name="quantity" class="form-control input-number"
                                                    value="<%=c.quantity%>">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <% var price =c.productId.price.replace(/,/g, '')%>
                                        <h2 class="td-color">₹<%=c.quantity * Number(price);%></h2>
                                    </td>
                                </tr>
                            </tbody>
                        <%}%>
                    </table>
                    <div class="table-responsive-md">
                        <table class="table cart-table ">
                            <tfoot>
                                <tr>
                                    <% var total=0;%>
                                    <% var sub=0;%>
                                    <% for(var i = 0;i< view_cart.length ;i++){%>
                                        <% var priceString = view_cart[i].productId.price.replace(/,/g, '');%>
                                        <% sub += view_cart[i].quantity * Number(priceString);%>
                                    <%}%>
                                    <td>total price :</td>
                                    <td>
                                        <h2>₹<%=sub%></h2>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row cart-buttons">
                <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="#" class="btn btn-solid">check out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->


<%-include('user_footer')%>